*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blog{
    width: 100%;
    height: 100%;
    background-color: black;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.sign__logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sign__logo h2{
    font-size: 37px;
    font-family: sans-serif;
    font-weight: 800;
    color: rgba(112, 112, 112, 1);
}
.blog ul{
    display: flex;
    gap: 30px;
}
.blog ul li{
    list-style: none;
}
.blog ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(112, 112, 112, 1);
}
.sign__pass{
    display: flex;
    gap: 20px;
}
.sign__pass a{
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(112, 112, 112, 1);
}
.sign__up a{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(48, 110, 247, 1);
    padding: 10px 20px;
    border-radius: 6px;
}
.blog__title{
    text-align: center;
    margin-top: 150px;
}
.blog__title h1{
    font-size: 90px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
.blog__title p{
    margin-top: 5px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.blog__box{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 100px;
}
.blog__box1{
    width: 320px;
    height: 220px;
    border: 1px solid rgba(112, 112, 112, 1);
    border-radius: 10px;
    padding: 15px;
}
.blog__box1 h1{
    margin-top: 20px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
}
.blog__box1 p{
    margin-top: 20px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: rgba(130, 130, 130, 1);
}
.blog__blog{
    margin-top: 170px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog__blog h2{
    font-size: 52px;
    line-height: 70px;
    font-family: sans-serif;
    padding: 300px 300px;
    background-image: url('./images/Image-5.jpg');
    background-size: cover;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
footer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.logo h1{
    margin-top: 20px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.logo p{
    margin-top: 20px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.logo a{
    margin: 30px auto;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(60, 130, 244, 1);
    border: 1px solid rgba(60, 130, 244, 1);
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
.logo__follow{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
.logo__follow img{
    margin-top: 15px;
}
.logo__follow h1{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.logo__follow p{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgba(112, 112, 112, 1);
}
